<app-search-pokemon (searchEmit)="searchPokemon($event)"></app-search-pokemon>
<section class="card-list">
  <div class="card" *ngFor="let pokemon of pokedex.results">
    <div class="card-body">
      <h2 class="card-title">{{pokemon.name | titlecase}}</h2>
      <ul>
        <li [ngClass]="type.type.name" *ngFor="let type of pokemon.status.types">{{type.type.name}}</li>
      </ul>
    </div>
    <div class="card-body">
      <section class="pokemon-img">
        <img  [src]="pokemon.status.sprites.other.dream_world.front_default">
      </section>
    </div>
  </div>
</section>
<section *ngIf="!search.length" class="load-pokemon">
  <app-more-pokemons (click)="getNextPage(pokedex.next)"></app-more-pokemons>
</section>
