:host {
  display: flex;
  justify-content: center;
  padding: 3em 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 1190px) {
  :host {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  :host {
    width: 100%;
  }
}



