@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  src: local("Roboto-Italic"), url("assets/fonts/Roboto-Italic.ttf") format("truetype");
}

* {


}

body {
  background: #262835;
  margin: 50px auto;
}

button{
  cursor: pointer;
}
