:host{
  width: 100%;
}

.search {
  font-family: Roboto, sans-serif;
  font-size: 1.2em;

  background: #FFF;
  opacity: 30%;

  border-radius: 1.5em;
  border-style: none;

  width: 100%;
  min-height: 3em;
  text-align: center;
}
